@model SliderEditVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label>Title</label>
        <input autocomplete="off" asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="image mb-5">
        <img src="~/img/@Model.Image" style="width:400px;height:300px" alt="" />
    </div>
    <div class="form-group mb-3">
        <label>Upload New image</label>
        <input asp-for="NewImage" accept="image/*" class="form-control">
        <span asp-validation-for="NewImage" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary me-2 mt-3">Submit</button>
    <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
</form>

