@model InstructorAddSocialVM

@{
    ViewData["Title"] = "AddSocial";
}

<form class="forms-sample" method="post" asp-action="AddSocial" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label>Choose social media</label>
        <select asp-for="SocialId" asp-items="@ViewBag.socials" class="form-select">
            <option selected="selected" value="@null">-</option>
        </select>
    </div>
    <div class="form-group mb-3">
        <label>Social media link</label>
        <input asp-for="SocialLink" accept="image/*" class="form-control">
        <span asp-validation-for="SocialLink" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary me-2 mt-3">Submit</button>
    <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
</form>

